@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    box-sizing: border-box;
    height: fit-content;
}
body{
    display: flex;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    flex-direction: column;
}
.wavyBackground{
}
.hr{
    border:none;
    height: 20px;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 30px 20px -20px black;
}
.firstImage img{
    height: 100% !important;
    width: 100% !important;
}
.FeaturesList{
    list-style-type: disc;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 10.3rem;
    margin-top: 2rem;
}
.howItWorksList{
    list-style-type: decimal;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 10.3rem;
    margin-top: 2rem;
}
